// Container
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.layout-container {
	@include container;
	width: 100%;
	display: table;
}

$inner-padding: 2rem;

.layout-content {
	display: table-cell;
	padding: 2rem 0 1rem;
	padding-top: 0;
	max-width: 100%;

	section {
		@extend %reset-margins;
		padding: 2rem 10%;

		h1:first-of-type {
			@extend %reset-margins;
			width: 100%;
			box-sizing: border-box;
			color: $color-accent;
			text-transform: uppercase;
			text-align: center;
			font-weight: 100;
			margin-bottom: 2rem;
			font-size: 5rem;
			margin-left: -($inner-padding * 2);
			padding: 0.5rem 2rem 0.75rem;
		}
	}

	@include breakpoint(max-width $tablet) {
		section {
			padding: 1rem;
			padding-top: 0;

			h1:first-child {
				font-size: 3rem;
				padding: 0.5rem 1rem;
				margin-left: -1rem;
				margin-bottom: 1rem;
			}
		}
	}
}
