// Sidebar
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.layout-sidebar {
	width: 26em;
	display: table-cell;
	vertical-align: top;

	padding: 2rem;

	background-color: color('cello');

	@include breakpoint(max-width $desktop) {
		display: none;
	}

	// Links
	////////////////////////////////////////////////////////////////////

	a {
		cursor: pointer;
		color: white;
		font-weight: 400;

		&:hover {
			text-decoration: none;
		}
	}

	// List
	////////////////////////////////////////////////////////////////////

	ul {
		list-style-type: none;
		margin: 0;
	}

	li {
		margin: 0;
		padding: 0.15rem 0.5rem;

		&.active,
		&:hover {
			background-color: darken(color('cello'), 15);
		}
	}

	// Titles
	////////////////////////////////////////////////////////////////////

	h2 {
		color: white;
	}
}
