// Submenu
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.layout-submenu {
	list-style-type: none;
	background: darken($color-base, 5);
	text-align: center;
	margin: 0;
	padding: 1rem 0;
	width: 100%;
	box-shadow: 0 7px 0 rgba(black, 0.1);

	li {
		display: inline-block;
		margin: 0 0.5rem;

		&:after {
			content: ' – ';
			font-weight: 900;
			position: relative;
			left: 0.4em;
		}

		&.active a {
			text-decoration: underline;
		}

		&:last-child:after {
			content: '';
		}
	}

	a {
		color: white;
		font-weight: 100;
	}

	&.affix {
		left: 0;

		& + section {
			margin-top: 2rem;
		}
	}
}
