# Development
.idea

# Cache and compiled
*.map
.rocketeer/logs
.sass-cache
.tmp
api
public/app/css
public/app/js
public/app/templates
public/builds

# Dependencies
public/app/ts/_definitions
public/components
node_modules
vendor
