// Sidebar
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.book-summary {
    position: relative;
    background-color: color('cello');
    font-size: 1.1em;
    overflow: visible;

    #book-search-input {
        background-color: darken(color('cello'), 10);
        color: white;
    }

    ul.summary {
        ul, li ul {
            padding: 0;
        }

        li {
            text-align: right;
            font-family: $font-sans;

            span, a {
                color: white;
                padding: 0.25em 0.75em;
                font-weight: 400;
            }

            span {
                font-size: 1.5em;
                margin: 0.75em 0 0.25em;
                color: white;
                padding: 0 1rem 0.5rem 0;
                border-bottom: 1px solid rgba(white, 0.1);
            }

            &.active a,
            a:hover {
                $active: darken(color('cello'), 10);
                background-color: $active;
                color: white;
                text-decoration: none;
            }

            a {
                color: white;
            }
        }
    }
}
