<footer class="layout-footer" id="footer">
	<a target="_blank" href="https://github.com/rocketeers/website">See the sources for this website</a><br>
	&copy; {{ "now"|date('Y') }} - <a target="_blank" href="http://autopergamene.eu/en">Maxime Fabre</a>
</footer>
