<header class="layout-header">
	<h1>
		Rocketeer
		<small>Send your projects up in the clouds</small>
	</h1>
</header>

<section class="layout-buttons" id="top">
	<iframe src="http://ghbtns.com/github-btn.html?user=rocketeers&repo=rocketeer&type=watch&size=large&count=true"
	        allowtransparency="true" frameborder="0" scrolling="0" width="162" height="30"></iframe>
	<iframe src="http://ghbtns.com/github-btn.html?user=rocketeers&repo=rocketeer&type=fork&size=large&count=true"
	        allowtransparency="true" frameborder="0" scrolling="0" width="162" height="30"></iframe>
	<iframe src="http://ghbtns.com/github-btn.html?user=Anahkiasen&type=follow&size=large&count=true"
	        allowtransparency="true" frameborder="0" scrolling="0" width="252" height="30"></iframe>
</section>
