{% verbatim %}
<aside class="layout-sidebar">
	<nav ng-repeat="category in categories">
		<h2>{{ category.label }}</h2>
		<ul>
			<li ng-if="category.label == 'Help'">
				<a target="_blank" href="http://rocketeer.autopergamene.eu/api/namespaces/Rocketeer.html">API</a>
			</li>
			<li ng-if="category.label == 'Help'">
				<a target="_blank" href="https://github.com/rocketeers/rocketeer/issues">Issues</a>
			</li>
			<li ng-repeat="label in controller.unsorted(category.pages)" ng-init="link = category.pages[label]" ng-class="{active: $parent.$location.path() == '/'+link}">
				<a du-smooth-scroll href="#top" ng-click="$parent.$parent.$location.path(link)">{{ label }}</a>
			</li>
		</ul>
	</nav>
</aside>
{% endverbatim %}
