* {
    -webkit-font-smoothing: auto;
}

body,
html {
	@extend %reset-margins;
	font-family: $font-sans;
	line-height: $line-height;
    background-color: color('cello');
}

body {
	color: $color-text;
}

.book.font-family-1 {
    font-family: $font-sans;
}
