// Code
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

pre {
	padding: 0.75rem;
	border: none;
	background: darken($color-base, 5);
	color: white;

	@include breakpoint(max-width $tablet) {
		line-height: 1.2;

		code {
			font-size: 0.75rem;
		}
	}
}

code {
	background-color: hsl(190, 48%, 39%);
	color: white;
	font-size: 0.80em;
}
