// Code
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

pre {
	padding: 0.75rem;
	border: none;
	color: grey(40);
	border-radius: 0;
	border-left: 5px solid grey(80);

	@include breakpoint(max-width $tablet) {
		line-height: 1.2;

		code {
			font-size: 0.75rem;
		}
	}
}

code {
	background-color: grey(90);
	color: grey(40);
	font-size: 0.80em;
	border-radius: 0;
}

// Overrides for Okaidia theme
//////////////////////////////////////////////////////////////////////

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: hsl(210, 10%, 20%);
}
