<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rocketeer - The fast deployer for modern applications</title>

	<!-- Chrome Frame and Favicon -->
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<link href='app/img/favicon.png' rel='shortcut icon' />

	<!-- Stylesheets -->
	<!-- build:css /builds/css/styles.css -->
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="components/prism/themes/prism-okaidia.css">
	<link rel="stylesheet" href="app/css/styles.css">
	<!-- endbuild -->

	<!-- Responsive tags -->
	<meta name='apple-mobile-web-app-capable' content='yes' />
	<meta name='apple-touch-fullscreen' content='yes' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
</head>

<body ng-app="rocketeer" ng-controller="Rocketeer.AppController">
  {% block layout %}
  {% endblock %}

	<!-- build:js /builds/js/scripts.js -->
	<script src="components/jquery/dist/jquery.js"></script>
	<script src="components/prism/prism.js"></script>
	<script src="components/prism/components/prism-bash.js"></script>
	<script src="components/prism/components/prism-php.js"></script>
	<script src="components/prism/components/prism-php-extras.js"></script>
	<script src="components/angular/angular.js"></script>
	<script src="components/angular-scroll/angular-scroll.js"></script>
	<script src="components/angular-strap/dist/angular-strap.js"></script>
	<script src="components/angular-strap/dist/angular-strap.tpl.js"></script>
	<script src="app/js/Controllers/AppController.js"></script>
	<script src="app/js/app.js"></script>
	<script src="builds/js/templates.js"></script>
	<!-- endbuild -->

	<!-- Documentation tree -->
	{% if docs %}
		<script>
			var docs = {{ docs|json_encode|raw }};
		</script>
	{% endif %}

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-728496-12', 'auto');
		ga('send', 'pageview');
	</script>

	<!-- Typescript -->
	<script type="text/javascript" src="//use.typekit.net/bhc8bkn.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>
